body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#sketch {
  height: 100%;
  width: 100%;
}
#canvas {
  height: 100%;
  width: 100%;
  border-style: solid;
  border-color: black;
}

.container{
  height: 100%;
  width: 100%;
}

.color-picker-container {
  text-align: center;
  display: inline;
}

.brushsize-container {
  display: inline;
  margin-left: 12px;
}
.eraser-container{
  display: inline;
  margin-left: 12px;
}
.text-container{
  display: inline;
  margin-left: 12px;
}
.tools-section {
  text-align: center;
}

.info {
  position: absolute;
}